* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
  direction: rtl;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/Milky_way.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;

  min-height: 100dvh;
  color: white;
  font-size: 20px;
}

#app {
  min-height: 100vh;
}
main {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a {
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-weight: 500;
}

a.enter {
  color: burlywood;

  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

li {
  padding: 0.6rem;
}
b {
  margin-left: 20px;
  font-size: 1.5rem;
  color: burlywood;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
  color: rgb(244, 172, 83);
  font-weight: 500;
}

h3 {
  margin: 20px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  color: rgb(225, 162, 78);
  letter-spacing: 1.5px;
}

.home-container h3 {
  color: white;
}
h4 {
  color: rgb(191, 158, 117);
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

p {
  font-size: 1.1rem;
  line-height: 2.5rem;
  letter-spacing: 1.2px;
}
.index-container {
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
}

ul {
  list-style: none;
}
.index-container img {
  border-radius: 10px;
}

.home-container {
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  width: 80vw;
  margin: auto;
  color: rgb(255, 255, 255);
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 70%;
  min-height: auto;
  margin: 35px auto;
  margin-top: 25px;
  text-align: center;
  border-radius: 30px;
}

.about-container a {
  text-decoration: none;
  color: rgb(74, 124, 185);
  margin: 10px;
}

.about-container p {
  max-width: 400px;
}
input {
  margin: 0 10px;
}

.links {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  min-height: auto;
  display: flex;
  color: rgb(250, 236, 236);
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.links a {
  font-weight: 500;
  cursor: pointer;
  color: rgb(247, 233, 233);
  margin: 10px 25px;
  text-decoration: none;
}

.links a:hover {
  color: burlywood;
}

.links .router-link-active {
  color: burlywood;
}

.roe-links .router-link-active {
  color: rgb(157, 113, 55);
}

.book-links .router-link-active {
  color: rgb(157, 113, 55);
}

.roe-links,
.book-links {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.roe-links a,
.book-links a {
  margin: 8px 12px;
  color: rgb(247, 233, 233);
  cursor: pointer;
  text-decoration: none;
}

.roe-links a:hover,
.book-links a:hover {
  color: rgb(157, 113, 55);
}

.hai-img-con {
  display: flex;
  justify-content: center;
}

.hai-img-con img {
  max-height: 470px;
}

.book-container {
  border-radius: 10px;
  padding: 30px;
  background: linear-gradient(135deg, #231d99, #14105e);
  color: rgb(224, 214, 202);
  width: 80%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  margin: 35px auto;
  margin-bottom: 40px;
  border: 1px solid rgba(220, 220, 220, 0.5);
  box-shadow:
    6px 6px 12px rgba(0, 0, 0, 0.3),
    -6px -2px 12px rgba(0, 0, 0, 0.3);
}

.circle1 {
  position: absolute;
  left: 60px;
  height: 100px;
  width: 100px;
  background-color: rgb(195, 188, 56);
  border-radius: 23px;
  transform: rotate(45deg);
  animation: rotate1 24s linear infinite;
}

.circle2 {
  position: absolute;
  left: 60px;
  height: 100px;
  width: 100px;
  background-color: rgb(195, 188, 56);
  border-radius: 23px;
  animation: rotate2 24s linear infinite;
}

.banner {
  margin: 0 auto;
  width: 100%;

  text-align: center;
}

.banner b {
  color: bisque;
}

button i {
  color: rgb(64, 64, 228);
}

button {
  border-radius: 5px;
  padding: 1px 6px;
  border: 0;
  background-color: rgb(230, 173, 87);
  color: black;
  cursor: pointer;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
input[type="text"] {
  padding: 5px;
  border-radius: 5px;
}

.kesher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .book-container,
  .about-container,
  .home-container {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  body {
    background-attachment: scroll;
  }
  li {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) and (orientation: portrait) {
  body {
    /* Shifting it slightly left or right can help align the stars with your text layout */
    background-position: 45% center;
  }
  .kesher {
    flex-direction: column;
    gap: 2px;
  }
}

@media (max-width: 422px) {
  .hai-img-con img {
    width: 90%;
    height: auto;
  }
  li {
    padding: 1px;
  }
  .home-container {
    padding-bottom: 5rem;
  }
}
